<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Where's that Pokemon?</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="deckDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Decks
        </a>
        <div class="dropdown-menu" aria-labelledby="deckDropdown">
          <a class="dropdown-item" href="/decks">Overview</a>
	  <a class="dropdown-item" href="/decks/new">New deck</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="inventoryDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Inventory
        </a>
        <div class="dropdown-menu" aria-labelledby="inventoryDropdown">
          <a class="dropdown-item" href="/inventory">Overview</a>
          <a class="dropdown-item" href="/inventory/move">Manage</a>
          <div class="dropdown-divider"></div>
	  <a class="dropdown-item" href="/inventory/new">New</a>
        </div>
      </li>
    </ul>
    {% if request.user.is_authenticated %}
    <a class="btn btn-outline-danger mr-3" role="button" href="/logout">Sign out</a>
    <a class="btn btn-outline-secondary mr-3" role="button" href="/accounts/{{request.user.username}}">{{request.user.username}}</a>
    {% else %}
    <a class="btn btn-secondary mr-3" role="button" href="/login">Sign In</a>
    <a class="btn btn-outline-secondary mr-3" role="button" href="/join">Join</a>
    {% endif %}
  </div>
</nav>
