{% extends "base.html" %}

{% block title %}Decks{% endblock %} 

{% block content %}
<div class="row">
	<a class="btn btn-primary mx-3 my-1 col-md-2" href="/decks/new" role="button">Make new deck</a>
</div>
<div class="row">
	<table class="table mx-3">
		<thead>
		<tr>
			<th scope="col">Deck name</th>
			<th scope="col">Format</th>
			<th scope="col">Modified</th>
		</tr>
		</thead>
		<tbody>
		{% for deck in list_of_decks %}
		<tr>
			<td><a href="/decks/{{ deck.uuid }}">{{ deck.name }}</a></td>
			<td>{{ deck.get_game_format }}</td>
			<td>{{ deck.modified }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
