{% extends "base.html" %}

{% block import %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
	var api_url = "{{ api_url }}";
	var post_url = "{{ post_url }}";
	var stash_uuid = "{{ Stash.uuid }}";
	var csrf_token = "{{ csrf_token }}";
</script>
{% load static %}
<script src="{% static 'cardstash/bulk_move.js' %}"></script>
{% endblock %}

{% block title %} Moving cards {% endblock %}

{% block content %}
<select id="from-stash" class="form-select filter-select" aria-label="Card selection">
	{% for Stash in stash_list %}
	<option value="{{ Stash.uuid }}">{{ Stash.name }}</option>
	{% endfor %}
</select>

<select id="to-stash" class="form-select filter-select" aria-label="Card selection">
	{% for Stash in stash_list %}
	<option value="{{ Stash.uuid }}">{{ Stash.name }}</option>
	{% endfor %}
</select>
<button class="btn btn-primary" type="button" id="submitChangesButton">Submit</button>
<table id='bulkMoveTable'>
{% include 'cardstash/bulk_move_table_snippets.html' %}
</table>
{% endblock %}
