{% extends "base.html" %}

{% block import %}
{% load render_bundle from webpack_loader %}
{% render_bundle 'stash_edit' 'js' %}
{% load static %}
<link href="{% static 'cardstash/edit_stash.css' %}" rel="stylesheet" />
{% endblock %}

{% block title %} Editing {{ Stash.name }}{% endblock %}

{% block content %}
<div class="row">
	<select class="form-select filter-select mx-3 col-md-4" aria-label="Card selection">
		{% for Card in card_list %}
		<option value="{{ Card.card_id }}">{{ Card.card_name }} - {{ Card.card_id }}</option>
		{% endfor %}
	</select>
</div>
<div class="row">
	<input id="card-count-display" class="form-control mx-3 mr-md-1 ml-md-0 my-1 col-md-1 col-xs-12" type="number" value="0" readonly />
	<button id="card-count-increase" class="btn btn-outline-success mx-3 my-1 mx-md-1 increment-btn col-md-1 col-xs-6" type="button">+</button>
	<button id="card-count-decrease" class="btn btn-outline-danger mx-3 my-1 mx-md-1 increment-btn col-md-1 col-xs-6" type="button">-</button>
</div>
<div class="row">
{% include 'cardstash/card_list_snippet.html' %}
</div>
<span id="data-span" style="display:none;" data-stash-uuid="{{Stash.uuid}}" data-post-url="{{post_url}}"></span>
{% endblock %}
