{% extends "base.html" %}

{% block title %}Inventory{% endblock %} 

{% block content %}
<div class="row">
	<a class="btn btn-primary mx-3 mx-md-0 my-1" href="/inventory/new" role="button">Add a storage location</a>
</div>
<div class="row">
	{% if list_of_storage_locales %}
	<table class="table table-hover mx-3 mx-md-0">
		<thead class="thead-light">
			<tr>
				<th scope="col">#&nbsp;Cards</th>
				<th scope="col">Inventory Name</th>
				<th scope="col">Last updated</th>
				<th scope="col">Description</th>
			</tr>
		</thead>
		<tbody>
			{% for storage_locale in list_of_storage_locales %}
			<tr>
				<td>{{ storage_locale.n_cards }}</td>
				<td><a href="/inventory/{{ storage_locale.uuid }}">{{ storage_locale.name }}</a></td>
				<td>{{ storage_locale.modified }}</td>
				<td>{{ storage_locale.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
		<p>No storage locations have been created yet.</p>
	{% endif %}
</div>
{% endblock %}
