{% extends "base.html" %}

{% block title %}Where's that Pokemon?{% endblock title %}

{% block content %}
<h1>Where's that Pokemon?</h1>
<h4>Inventory and deck management for PTCG players and collectors</h4>
<hr>
<p><em>Are you a passionate player or collector of trading card games?</em> If so, you’ve probably encountered a frustrating and costly problem: where did that card go?
It's a common dilemma—knowing you own multiple copies of a card is one thing, but what good is that knowledge if you can't find any of them when you need them?
Traditional inventory methods, like spreadsheets, quickly become a hassle, especially when the process of deck building constantly shifts your cards around.</p>

<p>Introducing <em>Where's that Pokemon?</em>—the ultimate solution for Pokemon TCG players and Pokemon card collectors. Where's that Pokemon? is designed to seamlessly integrate deck construction with inventory management, ensuring you never lose track of your precious cards again.</p>

<p>With Where's that Pokemon?, every time you build or modify a deck, the system automatically updates your card inventory behind the scenes. No more manual entries, no more misplaced cards. Our intelligent tracking system keeps a real-time record of your cards' storage locations, so you can focus on what you love—playing the game.</p>

<p>Whether you're a casual collector or a competitive player, Where's that Pokemon? is here to help you maintain a well-managed and accessible card collection.</p>

{% endblock content %}
